[Unit]
Description=conditionally start Xen domU netsrv3
Requires=proc-xen.mount xenstored.service drbd.service
After=proc-xen.mount xenstored.service xenconsoled.service xen-init-dom0.service drbd.service
After=network-online.target
After=remote-fs.target
ConditionPathExists=/proc/xen/capabilities
Conflicts=libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/grep -q control_d /proc/xen/capabilities
ExecStart=/scrap/awesome-powers/xen/xl-cond-start-netsrv3

[Install]
WantedBy=multi-user.target
